.version.index /* version checker */
{
	color: #0000E1;
	background-color: #8F754E;
}

.html
{
	background-color: #3C4049;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #575B62;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu74
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u74
{
	z-index: 2;
	width: 90px;
	position: relative;
}

#menuu125
{
	z-index: 5;
	width: 100px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u133
{
	width: 100px;
	position: relative;
}

#u134
{
	width: 100px;
	background-color: #909296;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u134.MuseMenuActive
{
	background-color: #BEBFC0;
	margin: 0px -10000px 0px 0px;
}

#u135-4
{
	width: 100px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 0px;
}

#u298
{
	width: 100px;
	background-color: #909296;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u298:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u169
{
	width: 100px;
	background-color: #909296;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u169:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 100px;
	background-color: #909296;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u182:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u301-4,#u172-4,#u184-4
{
	width: 100px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u295,#u166,#u179,#u192
{
	width: 100px;
	margin-top: 2px;
	position: relative;
}

#u195
{
	width: 100px;
	background-color: #909296;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u195:hover
{
	background-color: #999999;
	margin: 0px -10000px 0px 0px;
}

#u298:active,#u169:active,#u182:active,#u195:active
{
	background-color: #6B6B6B;
	margin: 0px -10000px 0px 0px;
}

#u198-4
{
	width: 100px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#ppu221-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 25px;
}

#pu221-4
{
	width: 0.01px;
}

#u221-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u199-3
{
	z-index: 36;
	width: 2px;
	min-height: 13px;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u223-7
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-top: 20px;
	position: relative;
}

#slideshowu225
{
	z-index: 50;
	width: 0.01px;
	height: 365px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 615px;
}

#u237
{
	position: absolute;
	width: 345px;
	height: 298px;
	background-color: transparent;
}

#u237popup
{
	z-index: 51;
}

#u240
{
	z-index: 52;
	width: 345px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u240_img
{
	padding-bottom: 39px;
}

#u238
{
	z-index: 54;
	width: 345px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u238_clip
{
	overflow: hidden;
	width: 345px;
	height: 298px;
}

#u238_img
{
	margin-left: -53px;
	margin-right: 40px;
}

#u242
{
	z-index: 56;
	width: 345px;
	height: 298px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u242_img
{
	padding-bottom: 82px;
}

#u245
{
	position: absolute;
	width: 168px;
	top: 305px;
	left: 6px;
}

#u245popup
{
	z-index: 58;
}

#u246-4
{
	z-index: 59;
	width: 148px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #BEBFC0;
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u247-4
{
	z-index: 63;
	width: 148px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #BEBFC0;
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u248-5
{
	z-index: 67;
	width: 148px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #BEBFC0;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u248-2
{
	color: #FFFFFF;
}

#u248-3
{
	color: #999999;
}

#u235-4
{
	position: absolute;
	width: 48px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #BEBFC0;
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 205px;
}

#u235-4popup
{
	z-index: 72;
}

#u244-4
{
	position: absolute;
	width: 10px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 174px;
}

#u244-4popup
{
	z-index: 76;
}

#u250-4
{
	position: absolute;
	width: 10px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 273px;
}

#u250-4popup
{
	z-index: 80;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u84
{
	z-index: 4;
	width: 213px;
	min-height: 24px;
	border-color: #050018;
	background-color: #575B62;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 746px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

