.version.projects /* version checker */
{
	color: #0000EC;
	background-color: #DBC981;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	padding-top: 62px;
	padding-right: 960px;
	padding-bottom: 438px;
	margin-left: auto;
	margin-right: auto;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

