#previewFull {
  background-color: #303030 !important;
  width: 802px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

#sitetitle {
  border-bottom: 1px dotted #7F7F7F !important;
}

body {
  background-color: #558E29 !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #7F7F7F !important;
}

.borderRight {
  border-right: 1px solid #FFFFFF !important;
}

#wrapper_thumb {
  width: 806px !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.preview {
  border: 1px solid #000000 !important;
}

.thumbnail {
  background-color: #FFFFFF !important;
  color: inherit;
}

.itemNumber {
  color: #000000 !important;
  display: inherit !important;
  background-color: inherit;
}

#stage2 {
  width: 806px !important;
}

.thumb, .preview {
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #A1A1A1 !important;
  color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #FFFFFF !important;
  border-left: 1px solid #FFFFFF !important;
}

.borderRightDotted {
  border-right: 1px dotted #FFFFFF !important;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.emptyThumbnail {
  background-color: #FFFFFF !important;
  color: inherit;
}

#wrapper_large {
  width: 806px !important;
}

.borderBottomRight {
  border-right: 1px solid #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF !important;
}

#previewImage {
  maxSize: 450.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #000000 !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #FFFFFF !important;
}

#stage {
  width: 806px !important;
}

.textColor {
  color: #FFFFFF !important;
  background-color: inherit;
}
